.cajaPadre {
  .mapa {
    width: 50%;
  }

  @media (max-width: 500px) {
    .formContacto {
      margin-left: 220px;
      width: 90%;
      margin-top: 50px;
    }

    .mapa iframe {
      margin-left: -80px;
      height: 300px;
      width: 300px;
    }
  }
}
.horario {
  text-align: center;
  font-size: $textXl;
  background-color: $tercerColor;
  margin: 50px 0px 50px 0px;
}

.formContacto {
  height: 300px;
  width: 400px;
  background-color: $mainColor;
  height: 400px;
  padding: 30px;
  color: white;
  margin-right: 200px;
  box-shadow: 7px 13px 37px $tercerColor;
  h3 {
    font-size: $textMd;
    margin-bottom: 20px;
  }

  .controles {
    padding: 10px;
    width: 300px;
    background-color: $white;
    margin-bottom: 15px;
    border: 1px solid $keyColor;
    font-size: $textSm;
    border-radius: 5px;
  }
  .botones {
    @include botones(100%, $textMd, $keyColor, none, $white, 5px);
    &:hover {
      transform: scaleX(1.1);
      transition: 1s;
    }
  }
}
