@media (min-width: 501px) and (max-width: 900px) {
  .cajaCards {
    margin-left: 0.2rem !important ;
  }
  .imgPresentacion {
    margin-top: 3rem;
  }
  .gridPadre {
    margin-left: -7.5rem;
  }
  .atajoPelu {
    margin-right: 2rem;
  }

  //catalogo

  .card {
    margin-left: 2rem;
    margin-top: 1rem;
  }

  //Peluqueria
  .preciosPelu {
    margin-left: 6.5rem !important;
  }

  //Hacete socio

  .datosConsulta {
    margin-top: -20rem;
  }

  //Contacto

  .formContacto {
    margin-left: 15.5rem;
    margin-top: 5rem;
  }
}
