.contenedorPelu {
  position: relative;
  .tituloPelu {
    margin-top: 50px;
    position: absolute;
    text-align: center;
  }
  @media (max-width: 500px) {
    .tituloPelu {
      margin-top: -2px;
    }
    .imgPelu {
      margin-left: -10px;
    }
  }
}

.formPrecio {
  .preciosPelu {
    display: flex;
    display: inline-block;
    font-size: $textSm;
    border: 1px solid black;
    width: 100%;
    justify-content: end;
    align-items: center;
    padding-top: 50px;
    background-color: $segundoColor;
    margin-bottom: 100px;
    border-radius: 5px;
  }
  .formPelu {
    display: flex;
    display: inline-block;
    justify-content: center;
    margin-top: 30px;
    padding: 50px;
    margin-right: auto;
    margin-left: 0px;
    font-size: $textSm;
    margin-bottom: 100px;
    background-color: $segundoColor;
    width: 100%;
    border-radius: 4px;
    border: 1px solid black;
  }
  label {
    font-size: 15px;
    display: block;
    font-weight: bold;
    border-radius: 2px;
  }
  .btnSocio {
    margin-top: 5px;
    display: block;
    border-radius: 2px;
    border: 1px black solid;
  }
}

.agendaOnline {
  font-size: $textMd;
  text-transform: uppercase;
  margin-top: 20px;
  padding-top: 20px;
  height: 200px;
  color: $segundoColor;
}
.pPeluqueria {
  margin-top: 50px;
  height: auto;
}
