.contenedorPelu {
  position: relative;
  width: 100%;
  .tituloPelu {
    margin-top: 50px;
    position: absolute;
    text-align: center;
  }
  @media (max-width: 500px) {
    .tituloPelu {
      margin-top: -2px;
    }
    .imgPelu {
      margin-left: -10px;
    }
  }
}
.imgPelu {
  filter: brightness(1.2);
  mix-blend-mode: multiply;
  animation-name: opacity;
  animation-duration: 8s;
  margin-top: 80px;
  @media (max-width: 500px) {
    mix-blend-mode: multiply;
    animation-name: opacity;
  }
}

.formPrecio {
  display: flex;
  display: inline-block;
  text-align: center;
  .preciosPelu {
    display: flex;
    display: inline-block;
    justify-content: center;
    align-items: center;
    font-size: $textSm;
    border: 1px solid black;
    width: 75%;
    padding-top: 50px;
    background-image: linear-gradient(to left, $segundoColor, $white);
    margin-bottom: 100px;
    border-radius: 5px;
    margin-left: 12rem;
  }
  .listaPrecio {
    font-size: $textXxl;
    margin-right: 2em;
    text-transform: uppercase;
    color: $keyColor;
  }
  ul li {
    font-size: 2em;
  }
  .formPelu {
    display: flex;
    display: inline-block;
    justify-content: center;
    margin-top: 30px;
    padding: 50px;
    font-size: $textSm;
    margin-bottom: 100px;
    background-image: linear-gradient(to right, $segundoColor, $white);
    width: 75%;
    border-radius: 4px;
    border: 1px dotted black;
  }
  label {
    width: 75%;
    font-size: 15px;
    font-weight: bold;
    border-radius: 2px;
    text-align: center;
    text-transform: uppercase;
  }
  .btnSocio {
    border-radius: 5px;
    border: 1px black solid;
    width: 50%;
    justify-items: center;
    height: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    &:hover {
      transform: scaleX(1.1);
      transition: 1s;
    }
  }
  .btnForm {
    width: 75%;
    justify-content: center;
    height: 3rem;
    border-radius: 5px;
  }
  .marginBtn {
    margin-top: 3rem;
    margin-bottom: 1rem;
  }
}

.agendaOnline {
  font-size: $textXl;
  text-transform: uppercase;
  margin-top: 20px;
  padding-top: 20px;
  height: 200px;
  color: $tercerColor;
}
.pPeluqueria {
  margin-top: 50px;
  height: auto;
  font-size: $textXxl;
  text-transform: uppercase;
  text-decoration: underline;
}

@media (max-width: 500px) {
  .preciosPelu {
    font-size: 10px !important;
    margin-left: 3.1rem !important;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .listaPrecio {
    margin-bottom: 50px;
    margin-left: 3rem;
  }
}
