//variables

//Colores
$mainColor: rgb(233, 203, 233) ;
$segundoColor : rgb(189, 168, 189) ;
$tercerColor: rgb(182, 144, 182) ;
$white: rgb(247, 240, 240) ;
$keyColor: rgb(12, 12, 12) ;

//font
$mainFont: 'Roboto', sans-serif;

//sizes textos
$textSm: 0.8em;
$textMd: 1em;
$textXl: 2em;
$textXxl: 3em;
$textH1: 5rem;


