//imports
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");
@import "_vars";
@import "comunes";
@import "catalogo";
@import "peluqueria";
@import "hacete-socio";
@import "contacto";
