/* * {
    margin: 0;
    padding: 0;

} */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(245, 234, 245);
}

/*************COMIENZA SECCION HEADER************/

header {
    background-color: rgb(211, 190, 230);
    border-bottom: 1px solid black;
    font-size: 20px;
    height: auto;
}

.navBar:hover {
    font-size: 25px;
}

.navBar {
    padding: 1rem;
    text-transform: uppercase;

}

.logo {
    width: 300px;
    height: 300px;
    filter: brightness(1.1);
    mix-blend-mode: multiply;
    margin-top: -40px;
    margin-bottom: 50px;
    padding-top: -100px;
}

/******************FINALIZA SECCION HEADER****************/


h1 {
    text-align: center;
    font-size: 100px;
    color: rgb(152, 73, 216);

    /* margin-top: 200px; */
    height: 350px;
}

@media (max-width: 500px) {
    h1 {
        font-size: 50px;
    }

    .peluLink {
        display: none;
    }

    .peluqueria {
        display: none;
    }

    .form {
        margin-left: -130px;
    }
}


.presentacion {
    display: flex;
    justify-content: flex-start;
}

.imgPresentacion {
    width: 330px;
    height: 330px;
    border-radius: 50px;
    padding-left: 20px;
    box-shadow: 3px 7px 7px violet;
    margin-left: 40px;
}

img {
    width: 350px;
    height: 350px;
    border-radius: 50px;
    margin-left: 10px;
    padding-left: 20px;
}

.urg {
    text-align: center;
    color: gray;
    background-color: rgb(214, 191, 235);
    margin: 200px 20px 200px 20px;
    padding: 20px;
    font-size: 25px;
}

/****************INICIA SECCION PRODUCTOS DESTACADOS***************/
.productosDestacados {
    background-color: rgb(233, 189, 233);
    margin-bottom: 100px;
    text-transform: uppercase;
    font-weight: bold;
    height: 80px;
    font-size: 3rem;
    text-align: center;
    padding-top: 5px;
}

.card {
    text-align: center;
    border: 1px solid rgb(181, 156, 204);
    margin-bottom: 100px;
    width: auto;
    height: auto;

}

.destacados {
    width: 300px;
    height: 300px;

}

.comprarBtn {
    background-color: rgb(185, 161, 207);
    margin-top: 10px;
}

/********************HASTA ACA SECCION PRODUCTOS DESTACADOS*********************/

h2 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 30px 0px 30px 0px;

}

.atajosParrafo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;

}

p.subtitulos {
    font-size: 30px;
    background-color: rgb(222, 176, 226);
    width: 500px;
    padding-left: 20px;
    text-transform: uppercase;
    border-radius: 5px;
}

/*SECCION DE GRID PELU Y FORM DE HACETE SOCIO*/

.gridPadre {
    display: flex;
    flex-direction: row;
    height: 500px;
    justify-content: center;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 20rem;
}

.atajoPelu {
    display: flex;
    justify-content: center;
    margin-left: 150px;
    box-shadow: 3px 7px 7px rgb(134, 127, 139);
    width: auto;
    align-items: flex-start;
}

/*ARRANCA EL FORMULARIO*/
.form {
    height: 300px;
    width: 400px;
    background-color: rgb(173, 144, 175);
    height: 400px;
    padding: 30px;
    color: white;
    margin-right: 200px;
    box-shadow: 7px 13px 37px rgb(134, 127, 139);

}

.form h3 {

    font-size: 22px;
    margin-bottom: 20px;

}

.controles {
    padding: 10px;
    width: 300px;
    background-color: white;
    margin-bottom: 15px;
    border: 1px solid black;
    font-size: 15px;

    border-radius: 5px;
}

.botones {
    border-radius: 5px;
    border: none;
    margin: 10px;
    padding: 7px;
    width: 100px;
}

/* TERMINA SECCION DE GRID CON EL FORMULARIO SOCIO Y ATAJO A PELUQUERIA*/




.preciosPelu {
    display: flex;
    display: inline-block;
    font-size: 20px;
    /* margin: 100px 0px 100px 1000px; */
    /* padding: 50px; */
    border: 1px solid black;
    width: 100%;
    justify-content: end;
    align-items: center;
    padding-top: 50px;
    background-color: rgb(207, 185, 228);
}

.formPelu {
    display: flex;
    display: inline-block;
    justify-content: center;
    margin-top: 100px;
    padding: 50px;
    margin-right: auto;
    margin-left: 0px;
    font-size: 20px;
    margin-bottom: -300px;
    background-color: rgb(207, 185, 228);
    width: 100%;
    border-radius: 4px;
    border: 1px solid black;
}

.label {
    display: block;
    font-weight: bold;
    border-radius: 2px;

}

.btnSocio {
    display: block;
    border-radius: 2px;
    border: 1px black solid;
}


/*********************CSS SECCION CONTACTO*****************/

.mapa {
    width: 50%;

}

.redes {
    width: 200px;
    height: 200px;

}

.horario {
    text-align: center;
    font-size: 25px;
    background-color: rgb(206, 173, 236);
    margin: 50px 0px 50px 0px;
}

@media (max-width: 500px) {
    .cajaPadre {
        display: flex;
        flex-direction: column;
    }

    .contacto {
        margin-top: 50px;
        margin-left: 60px;
    }

    .redes {
        width: 180px;
        height: 180px;
    }

    .mapa iframe {
        height: 300px;
        width: 300px;
    }

}

/**********************TERMINA CSS SECCION CONTACO*********************/

/********************HACETE SOCIO*********************/

.preciosSocio {
    display: flex;
    margin-left: 1000px;
    margin-top: 100px;
}

.formSocio {
    width: 400px;
    background-color: blueviolet;
    padding: 30px;
    margin: auto;
    margin-bottom: 500px;
    color: white;
    margin-left: 50px;
    box-shadow: 7px 13px 37px #000;
    margin-top: -300px;


}

.datosConsulta {
    text-align: center;
    margin-bottom: 100px;
    margin-top: -250px;
    font-size: 25px;

    background-color: darkviolet;
}



.Socio {
    font-size: 30px;
    margin-top: -60px;
    text-align: center;
    margin-bottom: 200px;
}

.datosPersona {
    font-size: 25px;


}

/*******************TERMINA SECCION HACETE SOCIO************************/


/*******************CATALOGO*****************/

.catalogo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.imgAccesorios {
    box-shadow: 1px 5px 5px violet;

}

.imgRopa {
    box-shadow: 1px 5px 5px violet;
}

.imgAlimentos {
    box-shadow: 1px 5px 5px violet;
}

.subCatalogo {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin: 200px 20px 20px 20px;
    color: rgb(88, 75, 100);
    background-color: rgb(190, 178, 202);
    border-radius: 10px;
}

/******************* TERMINA CATALOGO ***************/

/************ARRANCA EL CSS DE FOOTER***************/
footer {
    background-color: rgb(211, 190, 230) !important;
}

/*****************TERMINA EL FOOTER***************/