@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");
body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(247, 240, 240);
}

header {
  font-size: 1em;
  background-image: linear-gradient(to top, rgb(247, 240, 240), rgb(189, 168, 189));
}
header .navBar {
  padding: 1em;
  text-transform: uppercase;
}
header .navBar:hover {
  font-size: 20px;
  transition: 1s;
  background-color: rgb(182, 144, 182);
  border-radius: 20px;
  height: auto;
}
header .logo {
  width: 300px;
  height: 300px;
  filter: brightness(1.1);
  mix-blend-mode: multiply;
  margin-top: -40px;
  margin-bottom: 50px;
  padding-top: -100px;
}
@media (max-width: 500px) {
  header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-left: 25px;
  }
}

h1 {
  color: rgb(182, 144, 182);
  font-size: 5rem;
  height: 350px;
  text-align: center;
  animation-name: opacity;
  animation-duration: 8s;
}
@media (max-width: 500px) {
  h1 {
    font-size: 2em;
  }
}

h2, h3, h4 {
  color: rgb(12, 12, 12);
  text-align: center;
  margin: 30px 0px 30px 0px;
}

footer {
  background-image: linear-gradient(to top, rgb(189, 168, 189), rgb(247, 240, 240));
  text-align: center;
}
footer a {
  justify-content: center;
  color: rgb(12, 12, 12);
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.imgAccesorios {
  box-shadow: 1px 5px 5px violet;
}

.imgRopa {
  box-shadow: 1px 5px 5px violet;
}

.imgAlimentos {
  box-shadow: 1px 5px 5px violet;
}

.cajaCatalogo {
  margin-top: -200px;
}

.subCatalogo {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  margin: 200px 20px 20px 20px;
  color: rgb(88, 75, 100);
  background-color: rgb(189, 168, 189);
  border-radius: 10px;
}

.card {
  height: 500px;
  width: 350px;
  text-align: center;
  background-color: rgb(233, 203, 233);
}
.card .comprarBtn {
  background-color: rgb(247, 240, 240);
  width: 100%;
}
.card .comprarBtn:hover {
  transform: scaleX(1.1);
  transition: 1s;
}
.card .destacados {
  width: 350px;
  height: 350px;
}

@media (max-width: 500px) {
  .card {
    margin-top: 20px;
  }
  .subCatalogo {
    width: 95%;
  }
}
/******************* TERMINA CATALOGO ***************/
.contenedorPelu {
  position: relative;
}
.contenedorPelu .tituloPelu {
  margin-top: 50px;
  position: absolute;
  text-align: center;
}
@media (max-width: 500px) {
  .contenedorPelu .tituloPelu {
    margin-top: -2px;
  }
  .contenedorPelu .imgPelu {
    margin-left: -10px;
  }
}

.formPrecio .preciosPelu {
  display: flex;
  display: inline-block;
  font-size: 0.8em;
  border: 1px solid black;
  width: 100%;
  justify-content: end;
  align-items: center;
  padding-top: 50px;
  background-image: linear-gradient(to left, rgb(189, 168, 189), rgb(247, 240, 240));
  margin-bottom: 100px;
  border-radius: 5px;
}
.formPrecio .formPelu {
  display: flex;
  display: inline-block;
  justify-content: center;
  margin-top: 30px;
  padding: 50px;
  margin-right: auto;
  margin-left: 0px;
  font-size: 0.8em;
  margin-bottom: 100px;
  background-image: linear-gradient(to right, rgb(189, 168, 189), rgb(247, 240, 240));
  width: 100%;
  border-radius: 4px;
  border: 1px solid black;
}
.formPrecio label {
  font-size: 15px;
  display: block;
  font-weight: bold;
  border-radius: 2px;
}
.formPrecio .btnSocio {
  margin-top: 5px;
  display: block;
  border-radius: 2px;
  border: 1px black solid;
}

.agendaOnline {
  font-size: 2em;
  text-transform: uppercase;
  margin-top: 20px;
  padding-top: 20px;
  height: 200px;
  color: rgb(182, 144, 182);
}

.pPeluqueria {
  margin-top: 50px;
  height: auto;
  font-size: 3em;
  text-transform: uppercase;
  text-decoration: underline;
}

.Socio {
  font-size: 2em;
  margin-top: -60px;
  text-align: center;
  margin-bottom: 150px;
  text-transform: uppercase;
  background-color: rgb(182, 144, 182);
  border-radius: 10px;
  width: 75%;
}

.h4Socio {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100%;
  border-radius: 5px;
  background-color: rgb(189, 168, 189);
}

.beneficios .preciosSocio {
  margin-left: auto;
  height: 400px;
  width: 400px;
}

@media (max-width: 500px) {
  .preciosSocio {
    max-width: 100%;
  }
}
.cajaForm .datosPersona {
  margin-top: 20px;
}
.cajaForm .formSocio {
  width: 400px;
  background-color: rgb(189, 168, 189);
  padding: 30px;
  margin: auto;
  color: white;
  box-shadow: 7px 13px 37px #6f2681;
  border-radius: 5px;
  margin-right: 150px;
}
.cajaForm .controles {
  margin: 5px;
  width: 100%;
}
.cajaForm .botones {
  margin-top: 30px;
  width: 100%;
  margin-top: 10px;
  border: none;
}
.cajaForm .botones:hover {
  transform: scaleX(1.1);
  transition: 1s;
}
@media (max-width: 500px) {
  .cajaForm .formSocio {
    width: 370px;
  }
}

.datosConsulta {
  text-align: center;
  margin-bottom: 100px;
  margin-top: 10px;
  font-size: 1em;
  background-color: rgb(189, 168, 189);
}

.cajaPadre .mapa {
  width: 50%;
}
@media (max-width: 500px) {
  .cajaPadre .form {
    margin-left: 200px;
    width: 90%;
    margin-top: 50px;
  }
  .cajaPadre .mapa iframe {
    margin-left: -90px;
    height: 300px;
    width: 300px;
  }
}

.horario {
  text-align: center;
  font-size: 2em;
  background-color: rgb(182, 144, 182);
  margin: 50px 0px 50px 0px;
}

.form {
  height: 300px;
  width: 400px;
  background-color: rgb(233, 203, 233);
  height: 400px;
  padding: 30px;
  color: white;
  margin-right: 200px;
  box-shadow: 7px 13px 37px rgb(182, 144, 182);
}
.form h3 {
  font-size: 1em;
  margin-bottom: 20px;
}
.form .controles {
  padding: 10px;
  width: 300px;
  background-color: rgb(247, 240, 240);
  margin-bottom: 15px;
  border: 1px solid rgb(12, 12, 12);
  font-size: 0.8em;
  border-radius: 5px;
}
.form .botones {
  font-family: "Roboto", sans-serif;
  width: 100%;
  font-size: 1em;
  color: rgb(12, 12, 12);
  border: none;
  background-color: rgb(247, 240, 240);
  margin: 5px;
}
.form .botones:hover {
  transform: scaleX(1.1);
  transition: 1s;
}

@media (max-width: 500px) {
  .peluLink {
    display: none;
  }
  .peluqueria {
    display: none;
  }
  .form {
    margin-left: -130px;
  }
}
.productosDestacados {
  background-color: rgb(182, 144, 182);
  margin-bottom: 100px;
  text-transform: uppercase;
  font-weight: bold;
  height: 80px;
  font-size: 2em;
  text-align: center;
  padding-top: 5px;
  height: 100%;
  width: 100%;
}

.cajaCards {
  width: 100%;
}
.cajaCards .comprarBtn {
  background-color: rgb(233, 203, 233);
  margin-top: 10px;
}
.cajaCards .comprarBtn:hover {
  transform: scaleX(1.1);
  transition: 1s;
}
.cajaCards .destacados1 {
  width: auto;
  height: 360px;
}
.cajaCards .card {
  text-align: center;
  border: 1px solid rgb(233, 203, 233);
  margin-bottom: 100px;
  width: auto;
  height: auto;
  margin-left: 5px;
  margin-right: 5px;
}
.cajaCards .card .comprarBtn {
  background-color: rgb(247, 240, 240);
  width: 100%;
}
@media (max-width: 500px) {
  .cajaCards .card {
    margin-left: 18px !important;
  }
}

.imgPortada {
  width: 100%;
  height: 100%;
}

.titulos {
  position: absolute;
  text-align: center;
  color: rgb(12, 12, 12);
}

.presentacion {
  display: flex;
  justify-content: center;
}
.presentacion .imgPresentacion {
  width: 330px;
  height: 330px;
  border-radius: 50px;
  padding-left: 20px;
  box-shadow: 3px 7px 7px violet;
  margin-left: 30px;
}
@media (max-width: 500px) {
  .presentacion .imgPresentacion {
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-left: -58px !important;
    justify-content: flex-start;
  }
}

.urg {
  text-align: center;
  color: rgb(12, 12, 12);
  background-color: rgb(233, 203, 233);
  margin: 200px 20px 200px 20px;
  padding: 20px;
  font-size: 1em;
}

.atajosParrafo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.atajosParrafo p.subtitulos {
  font-size: 2em;
  background-color: rgb(189, 168, 189);
  width: 500px;
  padding-left: 20px;
  text-transform: uppercase;
  border-radius: 5px;
}

.gridPadre {
  display: flex;
  flex-direction: row;
  height: 500px;
  justify-content: center;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 20rem;
}
.gridPadre .atajoPelu {
  display: flex;
  justify-content: space-between;
  margin-left: 150px;
  box-shadow: 3px 7px 7px rgb(182, 144, 182);
  width: auto;
  height: auto;
  align-items: flex-start;
}
.gridPadre .imgPelu {
  height: 350px;
  width: 350px;
}
.gridPadre .form {
  height: 300px;
  width: 400px;
  background-color: rgb(233, 203, 233);
  height: 400px;
  padding: 30px;
  color: white;
  margin-right: 200px;
  box-shadow: 7px 13px 37px rgb(182, 144, 182);
}
.gridPadre .form h3 {
  font-size: 1em;
  margin-bottom: 20px;
}
.gridPadre .controles {
  padding: 10px;
  width: 300px;
  background-color: rgb(247, 240, 240);
  margin-bottom: 15px;
  border: 1px solid rgb(12, 12, 12);
  font-size: 0.8em;
  border-radius: 5px;
}
.gridPadre .botones {
  font-family: "Roboto", sans-serif;
  width: 100%;
  font-size: 1em;
  color: rgb(12, 12, 12);
  border: none;
  background-color: rgb(247, 240, 240);
  margin: 5px;
}
.gridPadre .botones:hover {
  transform: scaleX(1.1);
  transition: 1s;
}

/*# sourceMappingURL=style.css.map */
